# ---- R / RStudio ----
.Rhistory
.RData
.Ruserdata
.Rproj.user/
.Rprofile

# ---- Quarto / R Markdown build artifacts ----
*.html
*.pdf
*.docx
*.knit.md
*_cache/
*_files/

# ---- Data outputs----
quants/
*.fastq.gz
*.bam
*.sam
*.fa
*.fasta
*.gtf
*.gz

# ---- OS / editor clutter ----
.DS_Store
Thumbs.db
